<h1>Game of life ( John Horton Conway )</h1>

<canvas id="canvas" width="800" height="800"></canvas>

<div>
    <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
      <div *ngFor="let c of row; let colIndex = index" class="cell">
        <cell [Col]="colIndex" [Row]="rowIndex" ></cell>
      </div>
    </div>
</div>

<button type="button" (click)="onNextGeneration()">Next generation</button>

<!-- Automatikus generáció gombok -->
<button (click)="startAutoGeneration()" [disabled]="isAutoGenerationRunning">Start automatic generations</button>
<button (click)="stopAutoGeneration()" [disabled]="!isAutoGenerationRunning">Stop automatic generations</button>

